.announcement-card{
  height: 200px;
width: 600px;

  &__title{

}

  &__subtitle{
    font-size: 20px;
  }

  &__content{
    font-size: 20px;
  }
}


img{
  position: absolute; /* Абсолютное позиционирование */
  bottom: 10px; /* Положение от нижнего края */
  right: 5px; /* Положение от правого края */
  top:10px;
  height: 215px;
  width: 250px;

}
mat-card-actions{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.example-button-row{
  position: absolute;
  bottom: 5px;
  right : 400px
}

