<div class="btn-component">
  <div class="btn-component__buttons">
    <i class="material-icons" (click)="backClicked()" *ngIf="arrow">
      arrow_back
    </i>
    <i class="material-icons" (click)="searchClicked()" *ngIf="search">
      search
    </i>
    <i class="material-icons" routerLink="/create" *ngIf="common">
      add
    </i>
    <i class="material-icons" routerLink="/fauvorite" *ngIf="common">
      favorite
    </i>
    <i class="material-icons" (click)="downloadClicked()" *ngIf="download">
      vertical_align_bottom
    </i>
  </div>
  <div class="btn-component__search" *ngIf="searchShown">
    <!--TODO: should be added after https://trello.com/c/04PP53Fm/34-component-for-search -->
  </div>
</div>
