<div class="btn-component">
  <div class="btn-component__buttons">

    <button (click)="backClicked()" mat-icon-button class="material-icons" *ngIf="arrow">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button (click)="searchClicked()" mat-icon-button class="material-icons" *ngIf="search">
      <mat-icon>search</mat-icon>
    </button>

    <button routerLink="/create" mat-icon-button class="material-icons" *ngIf="common && loginService.isLoggedIn()">
      <mat-icon>add</mat-icon>
    </button>

    <button routerLink="/profile" mat-icon-button class="material-icons" *ngIf="common && loginService.isLoggedIn()">
      <mat-icon>favorite</mat-icon>
    </button>

    <button (click)="downloadClicked()" mat-icon-button class="material-icons" *ngIf="download">
      <mat-icon>vertical_align_bottom</mat-icon>
    </button>

  </div>
</div>
