<div>
  <table mat-table [dataSource]="userList" class="user-list">

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> Login</th>
      <td mat-cell *matCellDef="let user"> {{user.login}} </td>
    </ng-container>


    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role</th>
      <td mat-cell *matCellDef="let user">
        <mat-form-field>
          <mat-label>{{user.role}}</mat-label>
          <mat-select>
            <mat-option value="BANNED" (onSelectionChange)="changeRole(user,'BANNED')">BANNED</mat-option>
            <mat-option value="USER" (onSelectionChange)="changeRole(user,'USER')">USER</mat-option>
            <mat-option value="MODERATOR" (onSelectionChange)="changeRole(user,'MODERATOR')">MODERATOR</mat-option>
            <mat-option value="ADMIN" (onSelectionChange)="changeRole(user,'ADMIN')">ADMIN</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [length]="numberOfElements "
                 [pageSize]="sizeDefault"
                 [pageIndex]="pageDefault"
                 [pageSizeOptions]="[5, 10, 15]"
                 (page)="getUserList($event)">

  </mat-paginator>
</div>
