.login-component {
  margin: 100px auto;
  min-width: 300px;
  max-width: 300px;
  width: 50%;
  &__content {
    display: flex;
    justify-content: center;
  }
}

.form {
  &__field {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
  }
  &__input {
    height: 1%;
    min-height: 10px;
  }
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.signup {
  text-align: center;
}

